<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Sosyal Medya</h2>
      <ul>
        <li>
          <a [href]="ngLinks.MEDIUM" title="Angular blogu">Blog</a>
        </li>
        <li>
          <a [href]="ngLinks.X" title="X (eski adıyla Twitter)">X (eski adıyla Twitter)</a>
        </li>
        <li>
          <a [href]="ngLinks.BLUESKY" title="Bluesky">Bluesky</a>
        </li>
        <li>
          <a [href]="ngLinks.YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a
            [href]="ngLinks.DISCORD"
            title="Angular Topluluk Discord sunucusundaki tartışmalara katılın."
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="ngLinks.GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a
            [href]="ngLinks.STACKOVERFLOW"
            title="Stack Overflow: topluluğun teknik Angular sorularınızı yanıtladığı yer."
          >
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Topluluk</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md"
            title="Angular'a katkıda bulunun"
          >
            Katkıda Bulunun
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            title="Birbirimize saygıyla davranmak."
          >
            Davranış Kuralları
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/angular/issues"
            title="GitHub'da sorun ve öneri bildirin."
          >
            Sorun Bildirin
          </a>
        </li>
        <li>
          <a
            href="https://devlibrary.withgoogle.com/products/angular?sort=updated"
            title="Google DevLibrary"
          >
            Google DevLibrary
          </a>
        </li>
        <li>
          <a
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Angular Google Geliştirici Uzmanları"
          >
            Angular Google Geliştirici Uzmanları
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Kaynaklar</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="Basın iletişim, logolar ve marka.">Basın Kiti</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="Yol Haritası">Yol Haritası</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Topluluk çevirileri</h2>
      <ul>
        <!-- Sorted using Unicode Collation Algorithm (UCA) -->
        <li>
          <a href="https://angular.az/" title="Azərbaycanca">Azərbaycanca</a>
        </li>
        <li>
          <a href="https://angular-docs.tr/" title="Türkçe">Türkçe</a>
        </li>
        <li>
          <a href="https://angular-docs.ru/" title="Русский">Русский</a>
        </li>
        <li>
          <a href="https://angular.kr/" title="한국어">한국어</a>
        </li>
        <li>
          <a href="https://angular.jp/" title="日本語版">日本語版</a>
        </li>
        <li>
          <a href="https://angular.cn/" title="简体中文版">简体中文版</a>
        </li>
        <li>
          <a href="https://dev.angular.tw/" title="正體中文版">正體中文版</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Google tarafından güçlendirilmiştir ©2010-2026. Kod,
    <a routerLink="/license" title="Lisans metni">MIT tarzı Lisans</a>
    altında lisanslanmıştır. Dokümantasyon
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    altında lisanslanmıştır. Angular v{{ angularVersion }} ile oluşturulmuştur.
  </p>
</div>
