<main class="docs-viewer">
  <header class="docs-header">
    <div class="docs-page-title">
      <h1 tabindex="-1"><span class="docs-emoji">Sayfa Bulunamadı 🙃</span></h1>
    </div>
  </header>
  <p>Aradığınız şeyi bulamadık. URL'den çıkarılan terim için bir arama başlattık.</p>
  <p>
    Bunun bir hata olduğunu düşünüyorsanız, lütfen
    <a
      href="https://github.com/angular/angular/issues/new?template=3-docs-bug.yaml"
      target="_blank"
    >
      bir sorun bildirin</a
    >
    böylece düzeltebiliriz.
  </p>

  <!-- Search results that match the queried URL that we couldn't find  -->
  @if (searchResults().length > 0) {
    <!-- The search results are faded in if/once we have results -->
    <div animate.enter="enter-animation">
      <br /><br />
      <h2>Şansınızı deneyin</h2>
      <p>Belki aradığınız şey aşağıdaki listede:</p>

      <ul class="docs-search-results docs-mini-scroll-track">
        @for (result of searchResults(); track $index) {
          <li docsSearchItem [item]="result" class="docs-search-result">
            <a
              [relativeTo]="null"
              [routerLink]="'/' + result.url | relativeLink: 'pathname'"
              [fragment]="result.url | relativeLink: 'hash'"
            >
              <div>
                <p class="docs-search-result__label">
                  <!-- Icon -->
                  <span class="docs-search-result-icon" aria-hidden="true">
                    <i role="presentation" class="material-symbols-outlined docs-icon-small">
                      {{ result.type === 'code' ? 'code' : 'description' }}
                    </i>
                  </span>

                  <!-- Page title -->
                  <span [innerHtml]="result.labelHtml"></span>
                  @if (result.package) {
                    <span
                      [innerHTML]="result.package"
                      class="docs-search-result__label__package"
                    ></span>
                  }
                </p>

                @if (result.subLabelHtml) {
                  <p class="docs-search-result__sub-label">
                    <span class="docs-search-result-icon" aria-hidden="true">
                      <i role="presentation" class="material-symbols-outlined docs-icon-small">
                        grid_3x3
                      </i>
                    </span>
                    <span [innerHtml]="result.subLabelHtml"></span>
                  </p>
                }

                @if (result.contentHtml) {
                  <p class="docs-search-result__content" [innerHtml]="result.contentHtml"></p>
                }
              </div>
              <p class="docs-search-result__category">
                {{ result.category }}
              </p>
            </a>
          </li>
        }
      </ul>
    </div>
  }
</main>
